[submodule "3rd/argparse"]
	path = 3rd/argparse
	url = https://github.com/p-ranav/argparse
[submodule "3rd/ks_runtime"]
	path = 3rd/ks_runtime
	url = https://github.com/kaitai-io/kaitai_struct_cpp_stl_runtime/
